<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ems.dao.BanCourseDao">
  	<select id="getAllWithBIdx" resultType="ems.entity.ClassCourse">
  		select bc.*,c.c_name as c_name
  		from ems_ban_course bc
  		left join ems_course c
  		on bc.c_idx=c.c_idx
  		<where>
  			bc.b_idx=#{param1}
  		</where>
  	</select>
  	<select id="getAllWithTNo" resultType="ems.entity.ClassCourse">
  		select bc.*,c.c_name as c_name
  		from ems_ban_course bc
  		left join ems_course c
  		on bc.c_idx=c.c_idx
  		<where>
  			bc.t_no=#{param1}
  		</where>
  	</select>
  
  	<select id="queryBc" resultType="ems.entity.ClassCourse">
  		select bc.*,c.c_name as c_name
  		from ems_ban_course bc
  		left join ems_course c
  		on bc.c_idx=c.c_idx
  		<where>
  			bc.bc_idx=#{param1}
  		</where>
  	</select>
  </mapper>