<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ems.dao.MyClassDao">
  	
  	<select id="getBanJi" resultType="ems.entity.MyClass">
  		select * from ems_class
  		<where>
  			aca_idx=#{param1} 
  			and b_grade=#{param2}
  		</where> 
  	</select>
  	
  	<select id="getAll" resultType="ems.entity.MyClass">
  		select b.*,aca.aca_name as aca_name from ems_class b
  		left join ems_academic aca
  		on b.aca_idx=aca.aca_idx
  	</select>
  	
  	<insert id="addClass">
  		insert into ems_class(b_name,b_grade,aca_idx) 
  			values(#{b_name},#{b_grade},#{aca_idx})
  	</insert>
  	
  	<select id="getBan" resultType="ems.entity.MyClass">
  		select b.*,aca.aca_name from ems_class b
  			left join ems_academic aca
  			on b.aca_idx=aca.aca_idx
  		<where>
  			b_idx=#{param1}
  		</where> 
  	</select>
  	
  	<update id="savaBan" parameterType="ems.entity.MyClass">
  		update ems_class
  		<set>
  			b_name=#{b_name},b_grade=#{b_grade}
  			<if test="aca_idx!=null">
  				,aca_idx=#{aca_idx}
  			</if>
  		</set>
  		<where>
			b_idx=#{b_idx}
		</where>
  	</update>
  	
  	<delete id="benchDel">
  		delete from ems_class
  		<where>
  			b_idx in 
  			<foreach collection="array" open="(" close=")" separator="," item="b_idx">
  				#{b_idx}
  			</foreach>
  		</where>
  	</delete>
  	
  	<select id="searchByName" resultType="ems.entity.MyClass">
  		select b.*,aca.aca_name from ems_class b
  			left join ems_academic aca
  			on b.aca_idx=aca.aca_idx
  		<where>
  			b_name like '%${b_name}%' 
  		</where> 
  	</select>
  	
  	<select id="getBanJiByGrade" resultType="ems.entity.MyClass">
  		select * from ems_class
  		<where>
  			b_grade=#{param2}
  		</where> 
  	</select>
</mapper>